.advantage {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-areas: 
    "icon h3"
    "border p";
    gap: 20px 40px;
}

.icon {
    grid-area: icon;
}

.border {
    grid-area: border;
    opacity: 0.3;
}

.title {
    grid-area: h3;
    align-self: center;
}

.descr {
    grid-area: p;
}