.sidebar {
    display: grid;
    align-content: start;
    gap: 20px;
}

.logoWrapper {
    margin-top: 30px;
}

.logoWrapper svg {
    fill: var(--primary);
}

.logoWrapper span {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary);
}